.indexnav li { display:table-cell; text-align:center; padding-top:0.2rem;}
.indexnav a { display:inline-block; white-space:nowrap; width:1rem; font-size:0.22rem;}
.indexnav a p { top:-0.05rem;}
.indexnav a img { width:65%;}
.index_sg { width:100%; border-collapse:collapse;}
.index_sg th,.index_sg td { text-align:left; border:1px solid #ddd; padding:0; background:#fff; vertical-align:top;}
.index_sg th { width:2.4rem;}
.index_sg a { display:block; width:100%;}
.index_sg .tit { position:absolute; left:0; top:0.2rem; height:0.35rem; z-index:5;}
.index_sg a h3 { font-size:0.3rem; font-weight:bold; padding-bottom:0.1rem;}
.index_sg a p { color:#999;}
.index_sg td a { min-height:1.32rem;}
.index_sg td a .img01 { position:absolute; right:0; bottom:0; height:90%;}
.index_sg th a { padding-top:0.7rem;}
.indextit { display:block; background:url(../images/arrow01.png) no-repeat 97% center; background-size:0.16rem; line-height:0.6rem; height:0.6rem; z-index:5; top:-1px;}
.indextit p { padding-left:0.7rem; background:url(../images/index/indextit02.png) no-repeat left top; background-size:auto 100%; font-weight:bold; font-size:0.34rem; border-top:1px solid #ddd;border-bottom:1px solid #ddd;}
.indextit01 p { background-image:url(../images/index/indextit03.png);}
.indextit02 p { background-image:url(../images/index/indextit04.png);}
.indexlist a { display:table-cell; border-bottom:1px solid #ddd;border-left:1px solid #ddd;}
.indexlist a:first-child { border-left:none;}
.indexlist a img { display:block; width:100%;}
.indexpro { border-collapse:collapse;}
.indexpro td { border:1px solid #fff; vertical-align:top;}
.indexpro td a img { display:block;}
.botlogin { line-height:0.25rem; padding:0.25rem 3%; width:94%; background:#333; color:#fff;}
.botlogin a { color:#fff;}
.botlogin a.a1 { display:inline-block; padding-right:0.2rem; background:url(../images/arrow05.png) no-repeat right center; background-size:0.12rem; position:absolute; right:3%; top:0.25rem;}

.listclass { position:fixed; z-index:70; left:0; top:1.1rem; overflow:auto; width:1.5rem; background:#ddd;}
.listclass a { display:block; padding:0.25rem 0; text-align:center; border-bottom:1px solid #fff;}
.listclass a.sel { background:#fff;}
.classbox { padding:0 3% 0 1.7rem;}
.classbox .tit { padding:0.25rem 0 0.15rem; border-bottom:1px solid #ddd; font-size:0.28rem;}
.classbox a.a1 { display:block; width:30%; float:left; margin:0.2rem 1.5% 0; text-align:center; color:#999;}
.listhead li { display:table-cell; text-align:center; background:#eee; border-bottom:1px solid #ddd; padding-bottom:0.05rem;}
.listhead li a { display:block; line-height:0.7rem; background:#fff; white-space:nowrap;border-bottom:1px solid #ddd; font-size:0.28rem;}
.listhead li a span { display:inline-block; padding-left:0.2rem; background:url(../images/sorting01.png) no-repeat left center; background-size:auto 0.2rem;}
.listhead li.sel { background:#fc3e3d; border-color:#fc3e3d;}
.listhead li.sel a {color:#fc3e3d;border-color:#fc3e3d;}
.prolist { display:block; padding-top:0.2rem;padding-bottom:0.2rem;}
.prolist .img { display:block; float:left; width:22%;}
.prolist .img img { width:100%; display:block;}
.prolist section { width:74%; float:right;}
.prolist .del { display:block; width:0.4rem; position:absolute; right:3%; bottom:0.2rem;}
.prolist .sc_del { display:block; width:0.35rem; position:absolute; right:3%; bottom:0rem;}

.choosebox { width:5.2rem; position:absolute; right:0; top:0; height:100%; background:#fff;}
.choosebox .close { display:block; width:0.6rem; position:absolute; left:-0.3rem; top:0.65rem; z-index:10;}
.choosebox .tit { padding:0.3rem; background:#ddd; font-size:0.34rem; color:#000;}
.choosebox .tit .sub { width:1.6rem; height:0.6rem; line-height:0.6rem; border-radius:3px; color:#fff; position:absolute; right:0.3rem; top:0.15rem; background:#fc3e3d; text-align:center;}
.choosebox .con { padding:0 0.3rem; overflow:auto;}
.choosebox .con h3 { padding:0.35rem 0 0.2rem; font-size:0.3rem;}
.choosebox .con a.a1,.choosebox .con a.a2 { display:inline-block; line-height:0.55rem; padding:0 0.2rem; margin:0 0.1rem 0.1rem 0; white-space:nowrap; }
.choosebox .con a.a2 { border:1px solid #ddd; color:#999;}
.choosebox .con a.a1sel {border:1px solid #fc3e3d; background:url(../images/choose.png) no-repeat right bottom; background-size:0.25rem; color:#fc3e3d;}
.prochoose { width:100%; position:absolute; left:0; top:0; border-bottom:1px solid #ddd; height:2rem;}
.prochoose b { display:inline-block; width:1.5rem; border:1px solid #ddd; top:0.2rem; left:0.3rem; position:relative;}
.prochoose_bg { width:100%; height:2rem;}

.numbox { width:0.6rem; padding:0 0.35rem;}
.numbox .text { width:100%; height:0.35rem; text-align:center; background:#ddd;}
.numbox a { display:block; position:absolute; left:0; top:0; width:0.35rem;height:0.35rem; background:url(../images/num02.png) no-repeat; background-size:0.35rem;}
.numbox a.num01 { left:auto; right:0; background-image:url(../images/num01.png);}

.carfoot_bg { height:1.2rem;}
.carfoot,.finishbtn { z-index:99; position:fixed; left:0; bottom:0; background:#fff; border-top:1px solid #ddd;}
.carfoot .sub { position:absolute; z-index:10; right:0; top:0; height:100%; text-align:center; color:#fff; background:#fc3e3d; width:1.6rem; font-size:0.3rem;}
.carfoot .sub01 { position:relative; display:inline-block; width:1.5rem; line-height:0.5rem; height:0.5rem; text-align:center; border-radius:3px; font-size:0.25rem; border:1px solid #fc3e3d; background:none; margin-left:0.2rem;color:#fc3e3d;}
.carfoot .sub02 { color:#fff;border-color:#fc3e3d; background:#fc3e3d;}
.car_address { padding:0.25rem 0 0.25rem 12%; background:#fff url(../images/pace.png) no-repeat 3% center; background-size:0.4rem; }
.car_address a { display:block; padding-right:0.7rem; background:url(../images/arrow04.png) no-repeat 95% center; background-size:0.12rem;}
.checkdown { border-bottom:1px solid #ddd;}
.checkdown .a1 { display:block; line-height:0.7rem; width:94%; margin:0 auto; font-size:0.28rem;}
.checkdown .a1 p { position:absolute; right:0; top:0; padding-right:0.35rem; background:url(../images/arrow03.png) no-repeat right center; background-size:0.2rem; text-align:right; margin-right:0.1rem; font-size:0.25rem;}
.checkdown section { padding-left:1.5rem; padding-bottom:0.3rem; display:none;}
.checkdown section p { padding:0.25rem 0 0;}
.checkdown section p:first-child { border-top:1px solid #ddd;}
.checkdown section p input { margin-right:0.2rem;}
.checkdown .box01 {position:absolute; right:0; top:0.05rem; padding-right:0.35rem;text-align:right;font-size:0.25rem; line-height:0.3rem;}
.checkdown .text01 {position:absolute;left:2rem; top:0.1rem; height:0.5rem; line-height:0.5rem; background:#eee; border:1px solid #ddd; border-radius:3px; width:1.7rem;}
.checkdown .box02 {position:absolute; right:0; top:0;text-align:right;padding-right:0.35rem;}
.checkdown .box02 input { margin:0 0.1rem 0 0.3rem;}
.finishbtn { display:block; text-align:center; color:#fff; padding:0.25rem 0; width:100%; font-size:0.3rem;}
.finishbtn span { display:inline-block; padding-left:0.4rem; background:url(../images/finish.png) no-repeat left center; background-size:0.33rem;}
.prolist .sh { display:block; width:1.2rem; line-height:0.4rem; height:0.4rem; position:absolute; right:3%; bottom:0.2rem;}

.addresslist { padding:0.3rem 0; width:100%; border-bottom:1px solid #ddd;}
.addresslist .a2 { display:block; width:0.32rem; position:absolute; right:5%; top:50%; margin-top:-0.2rem;}
.addresslist .a1 { display:block; padding-left:13%; width:63%; color:#888;}
.addresslist .a1 i { display:block; background:url(../images/member/check01.png) no-repeat; width:0.3rem; height:0.3rem; background-size:100%; position:absolute; top:50%; margin-top:-0.15rem; left:5%;}
.addresslist .a1 h3 { font-size:0.28rem; white-space:nowrap; overflow:hidden;}
.addresslist .a1 p { font-size:0.23rem; line-height:0.3rem; margin-top:0.15rem;}
.addresslist .a1sel { color:#333;}
.addresslist .a1sel i { background-image:url(../images/member/check02.png);}
.addressfoot { position:fixed; z-index:99; left:0; bottom:0; width:100%;}
.addressfoot .sub { width:100%; height:0.9rem; line-height:0.9rem; color:#fff; font-size:0.3rem; text-align:center; background:#fc3e3d;}
.address_sel li { display:table-cell; border:1px solid #ddd;}
.address_sel select { width:100%; height:0.75rem; display:block; border:none;}

.newsclass a { display:table-cell; background:#fff; padding:0.2rem; text-align:center; color:#888;}
.newsclass a.sel { border-bottom:4px solid #fc3e3d;color:#fc3e3d;}
.newslist { display:block; background:#fff; border:1px solid #ddd;}
.newslist .img { display:block; width:32%; z-index:10;}
.newslist .tit { position:absolute; right:3%; top:0.1rem; line-height:0.3rem; width:62%; height:0.6rem; overflow:hidden;}
.newslist .info { position:absolute; right:0; bottom:0;width:100%; border-top:1px solid #ddd; height:0.4rem; line-height:0.4rem; color:#888; font-size:0.23rem;}
.newslist .info p {width:62%;position:absolute; right:3%;}
.newslist .info p span { position:absolute; right:0.1rem;}
.loginlogo { display:block; width:2.4rem; margin:0 auto;}
.login_qq { display:block; width:1rem; color:#888; text-align:center; margin:0.4rem auto 0;}
.login_qq img { width:0.6rem;}
.login_yzm .fl { width:46%;}
.login_yzm .fr { width:41%;}

.procheck { padding-top:0.2rem; padding-bottom:0.2rem; display:block;}
a.procheck { background:url(../images/arrow01.png) no-repeat 97% center; background-size:0.16rem;}
.pro_server { display:inline-block; padding-left:0.45rem; margin-right:0.1rem;}
.pro_server img { width:0.4rem; position:absolute; left:0; top:-0.02rem;}
.pro_pace { display:inline-block; padding-right:0.35rem; background:url(../images/pace.png) no-repeat right center; background-size:auto 100%;}
.pro_com { text-align:right; position:absolute; right:10%; top:0.21rem;}
.pro_leave h3 img { height:0.25rem;}
.pro_leave h3 { font-size:0.25rem;}
.pro_mmenu li { display:table-cell; text-align:center; border-top:1px solid #ddd; border-bottom:1px solid #ddd;}
.pro_mmenu li a { display:inline-block; padding:0.15rem 0.2rem; font-size:0.28rem; top:3px;}
.pro_mmenu li.sel a { border-bottom:4px solid #fc3e3d;color:#fc3e3d;}

.morebox { padding-bottom:0.4rem;}
.morebox .a1 { display:block; float:left; width:25%; margin:0 0 0.2rem 6%;}
.morebox .a1 p { overflow:hidden; height:0.6rem; line-height:0.3rem;}
.morebox .a1 span { font-size:0.25rem; white-space:nowrap;}
.profoot { position:fixed; z-index:99; bottom:0; left:0; width:100%; background:#333; line-height:0.9rem;}
.profoot .a1,.profoot .a2 { float:left; display:block; color:#fff; width:25%; text-align:center;}
.profoot .a1 span,.profoot .a2 span { display: inline-block; padding-left:0.6rem; background:url(../images/info01.png) no-repeat left center; background-size:auto 0.4rem;}
.profoot .a2 span { background-image:url(../images/info02.png);}
.profoot .a3 { float:right; display:block; color:#fff; width:48%; text-align:center;background:#fc3e3d; font-size:0.35rem;}

input.addcarbtn { width:100%; position:absolute; left:0; bottom:0;background:#fc3e3d; color:#fff; font-size:0.3rem; height:0.9rem; line-height:0.9rem;}

.evalmenu a { display:table-cell; text-align:center; padding:0.15rem 0; border-bottom:1px solid #ddd;}
.evalmenu a.sel {color:#fc3e3d;}
.pro_mmenu01 li a { display:block;padding: 0.15rem 0;}

.myhead { width:100%; background:url(../images/member/headbg.png) no-repeat; background-size:100% 100%; height:2rem;}
.myhead a.a1 { display:block; width:1.3rem; height:1.3rem;  padding:0.15rem; z-index:5; position:absolute; left:0.3rem; top:50%; margin-top:-0.8rem; background: url(../images/member/darkbg.png) repeat;border-radius:50%;}
.myhead a.a1 img {border-radius:50%;width:1.3rem; height:1.3rem; display:block;}
.myhead section { position:absolute; left:2.1rem; top:0.7rem; color:#fff;}
.myhead h3 { position:absolute; right:0; top:0.8rem; width:2rem; text-align:center; background:url(../images/member/head_btn.png) repeat-x; background-size:auto 100%; white-space:nowrap; overflow:hidden; font-size:0.2rem; font-weight:bold; color:#b50706; border-radius:0.2rem 0 0 0.2rem; height:0.4rem; line-height:0.4rem;}
.mytit_more { display:inline-block; position:absolute; right:3%; top:0; padding-right:0.3rem; background:url(../images/arrow01.png) no-repeat right center; background-size:0.15rem; font-size:0.25rem; color:#999;}

.myself_nav a { display:table-cell; text-align:center; color:#999; background:#fff; padding:0.25rem 0 0.2rem; white-space:nowrap; border-bottom:1px solid #ddd;}
.myself_nav a img { height:0.48rem;}
.myself_nav a b { display:block; width:0.28rem; line-height:0.28rem; height:0.28rem; text-align:center; font-size:0.2rem; overflow:hidden; background:#fc3e3d; margin-left:0.1rem; position:absolute; left:50%; top:0.2rem; color:#fff; font-weight:400; border-radius:50%;}

.myselfmenu li { background:#fff; padding-bottom:0.5rem;}
.myselfmenu .tabfix menu a { display:table-cell; text-align:center; border:1px solid #ddd; padding:0.3rem 0 0.1rem; height:1.3rem;background:url(about:blank);}
.myselfmenu .tabfix menu a:first-child { border-left:none;}
.myselfmenu .tabfix a img { height:0.5rem; margin-bottom:0.3rem;}
.myself_ts { width:60%; padding:0.5rem 10%; margin:17% auto 0; background:#fff;}

.sexchoose a { display:inline-block; background:url(../images/member/check01.png) no-repeat left center; padding-left:0.4rem; background-size:0.3rem;float:left; margin-left:0.5rem;}
.sexchoose a.sel { background-image:url(../images/member/check02.png);}
.reviewsout { padding-left:0.75rem;}
.reviewsout span { position:absolute; left:0; top:0;}
.reviews_area { width:94%; height:1rem; border:1px solid #ddd; background:#f8f8f8; padding:0.1rem 3%;}

.myorderhead li { padding-bottom:1px; border:none;}
.myorderhead li a { font-size:0.25rem;border-bottom:2px solid #fff;}
.myorderhead li a.sel {border-bottom: 3px solid #fc3e3d;}
.redbag { display:block; padding:0.15rem 0.3rem 0.15rem 1.5rem; background:#fff url(../images/member/bag.png) no-repeat 0.3rem center; background-size:auto 0.9rem;}
.redbag h3 { font-weight:bold; font-size:0.3rem; line-height:0.4rem;}

.scoretab a { display:table-cell; text-align:center; background:#fff; padding:0.2rem 0; color:#fdb813; white-space:nowrap; border:1px solid #ddd;}
.scoretab a img { height:0.6rem;}
.scoretab a:nth-child(2) { color:#603bbc;}
.scoretit p { padding-left:0.1rem; border-left:4px solid #fc3e3d; color:#fc3e3d;}
.scoresum li { width:100%; background:#fff; border:1px solid #ddd; border-top:none;}
.scoresum li p { text-align:center; padding:0.15rem 0.1rem; display:inline-block; width:24%;}
.scoresum li p:nth-child(3) { width:38%;}
.scoresum li.li01 { margin-bottom:0.1rem;border-top:1px solid #ddd;}
.scoresum li.li01 p {padding:0.1rem;}
.scoresum li:nth-child(2) {border-top:1px solid #ddd;}

.ticket { display:block; background:#fff; box-shadow:1px 2px 3px #ccc; overflow:hidden;}
.ticket section { float:left; border-left:3px solid #9651fe; width:60%; padding:0.4rem 0 0.2rem 2%;height:1.4rem;}
.ticket section h3 { font-size:0.3rem;white-space:nowrap;}
.ticket section h4 { font-size:0.35rem; line-height:0.5rem; color:#9651fe;white-space:nowrap;}
.ticket section p { color:#999; font-size:0.2rem; margin-top:0.2rem; white-space:nowrap;}
.ticket i { display:block;width:5%; height:100%; background:url(../images/member/yh01.png) repeat-y; background-size:100%; position:absolute; position:absolute;left:0; top:0;}
.ticket .num { float:right; width:33%; padding-right:3%; height:2rem; background:#9651fe; color:#fff; text-align:right;}
.ticket .num h3 { line-height:2rem; font-size:0.45rem;}
.ticket .num h3 span { font-size:0.2rem; position:absolute; right:0; top:50%; margin-top:0.3rem; line-height:0.3rem;}
.ticket01 section { border-color:#999;}
.ticket01 section h4 { color:#333;}
.ticket01 i { background-image:url(../images/member/yh02.png);}
.ticket01 .num { background:#999;}

.followlist { background:#fff; border-left:3px solid #333; padding:0.2rem 0;}
.followlist .box01 { float:left; width:28%; padding-left:3%; white-space:nowrap;}
.followlist .box01 span { width:70%; border:1px solid #ddd; font-size:0.2rem; color:#999; text-align:center; border-radius:0.2rem; margin-top:0.2rem; display:block;}
.followlist .box02 { float:left; width:37%; padding:0 3%; border-left:1px dashed #ddd;border-right:1px dashed #ddd; font-size:0.2rem;}
.followlist .box03 { float:right; width:25%; text-align:center; line-height:0.9rem;}
.followimg { padding-top:0.2rem;}
.followimg a { display:inline-block; margin:0 0.1rem 0.2rem 0; border:1px solid #ddd; width:1.2rem;height:1.2rem; overflow:hidden;}
.mymoney { padding-left:10%; width:40%; float:left;}

.history_tx { border-top:3px solid #999; background:#fff; padding-bottom:0.1rem;}
.history_tx h3 { line-height:0.6rem; width:90%; margin:0 auto; text-align:right; font-size:0.2rem; border-bottom:1px dashed #ddd; margin-bottom:0.1rem;}
.history_tx p {width:90%; margin:0 auto;}
.history_tx p span { display:inline-block; width:1rem; white-space:nowrap; line-height:0.4rem;}
.history_tx p b { display:inline-block; padding:0 0.3rem; position:absolute; right:0; top:0; border:1px solid #ddd; color:#999; font-weight:400;}
.history_tx p b.sel { border-color:#fc3e3d; color:#fc3e3d;}

.tx_text { padding:0 0.3rem 0 1.7rem; line-height:0.8rem; background:#fff;}
.tx_text span { position:absolute; left:0.3rem; top:0;}
.tx_text .text { width:100%;line-height:0.8rem; height:0.8rem;}

.shoplist { display:block; background:#fff; border:1px solid #ddd; padding-bottom:0.2rem;}
.shoplist p { width:90%; margin:0 auto;padding:0.1rem 0 0;color:#888;}
.shoplist p span { display:inline-block; padding-left:0.4rem; background:url(../images/shop01.png) no-repeat left 0.05rem; background-size:0.3rem;}
.shoplist p.p2 span { background-image:url(../images/shop02.png);}
.shoplist p.p3 span { background-image:url(../images/shop03.png);}
.shoplist section { line-height:0.5rem;}
.shoplist section a { display:inline-block; margin-left:0.2rem; padding:0 0.2rem; color:#fff; border-bottom:3px solid #243a61; background:#4d88ec;}
.shoplist section a.a2 {background:#fc3e3d;border-bottom:3px solid #6a3535;}

.shopinfo { width:100%; background:url(../images/shop06.png) repeat-y; background-size:100%; padding-bottom:0.2rem;}
.shopinfo p { width:80%; margin:0 auto;padding:0.1rem 0 0;color:#888;}
.shopinfo p span { display:inline-block; padding-left:0.4rem; background:url(../images/shop04.png) no-repeat left 0.05rem; background-size:0.3rem;}
.shopinfo p.p2 span { background-image:url(../images/shop03.png);}
.shopinfo p.p3 span { background-image:url(../images/shop01.png);}
.shopinfo p a { display:inline-block; margin-left:1rem; padding:0 0.2rem; color:#fff; border-bottom:3px solid #6a3535; background:#fc3e3d;}
.shopimg { background:#fff; width:92%; margin:0.2rem auto 0; padding-top:0.2rem;}
.shopimg h3 { border-left:4px solid #fc3e3d; width:90%; padding-left:3%; color:#fc3e3d; margin:0 auto 0.2rem;}

.news_gg { padding:0.2rem 0.6rem; background:#fff url(../images/arrow01.png) no-repeat 97% 0.25rem; background-size:0.15rem; display:block; border-bottom:1px solid #ddd;}
.news_gg i { display:block; width:0.24rem; height:0.24rem; border-radius:50%; background:#fc3e3d; position:absolute; left:0.2rem; top:0.25rem;}
.news_xt { padding:0.2rem 0.4rem; background:#fff;display:block; border-bottom:1px solid #ddd; line-height:0.4rem;}

.leave_area { padding:0.2rem 5%; width:80%; margin:0 auto; border:1px solid #ddd; background:#fff; display:block; height:1rem;}










